.DevCrownViewer-controls-top {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  z-index: 100;
  padding: 10px;
}

.DevCrownViewer-controls-top .viewer-button {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  padding: 6px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.DevCrownViewer-controls-top .viewer-button:hover {
  background: rgba(255, 255, 255, 1);
  filter: invert(1);
}

.DevCrownViewer-controls-top .viewer-button:active {
  background: rgba(0, 0, 0, .1);
  filter: invert(0);
}

.DevCrownViewer-controls-top .viewer-button img {
  height: 100%;
}

.DevCrownViewer-controls-top .viewer-button .left {
  margin-left: 20px;
  background: red;
}

.DevCrownViewer-controls-top .viewer-button .right {
  background: blue;
}
